!!! 5
%html{ lang: "ja" }
  %head
    %title= "memo.fukayatsu.com"
    %meta{ 'http-equiv': "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{ content: "memo by fukayatsu", name: "description" }
    %meta{ content: "fukayatsu", name: "author" }
    -# %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{ :charset => "utf-8", :href => "/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    .container
      = render(:_header)
      %main= yield
      = render(:_footer)
