!!! 5
%html{ lang: "ja" }
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}

    %title= [locals.dig(:title), "memo.fukayatsu.com"].compact.join(' | ')
    %meta{content: locals.dig(:description) || "memo by fukayatsu", property: "description"}
    %meta{content: "fukayatsu", name: "author"}

    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
    %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: "/site.webmanifest", rel: "manifest"}
    %link{color: "#5bbad5", href: "/safari-pinned-tab.svg", rel: "mask-icon"}
    %meta{content: "#da532c", name: "msapplication-TileColor"}
    %meta{content: "#ffffff", name: "theme-color"}

    %link{charset: "utf-8", href: "/screen.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %body
    .container
      = render(:_header)
      %main= yield
      = render(:_footer)
    - if ENV['RACK_ENV'] != 'production'
      %script{type: "module", src: "/dev/js/dev.js"}
