%article.detail
  - post = locales[:post]
  %header
    %h1= post.title_html
    - if post.created_at
      %p.metadata
        %time{ datetime: post.created_at }= post.created_at.to_date
  %body
    .markdown= post.html_without_header
